<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @ville.nom %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ville.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ville.longitude %>
</p>

<p>
  <strong>weather:</strong>
  <%= @meteo.summary %>
</p>

<p>
  <strong>temperature:</strong>
  <%= @meteo.temperature %> &deg;F
</p>

<%= link_to 'Edit', edit_ville_path(@ville) %> |
<%= link_to 'Back', villes_path %>
